* text=auto !eol
/.classpath -text
/.project -text
/AndroidManifest.xml -text
assets/libdoom_jni.so.zip -text
assets/prboom.zip -text
/default.properties -text
native/prboom.zip -text
native/prboom/Makefile -text
native/prboom/Makefile.am -text
native/prboom/Makefile.in -text
native/prboom/Makefile.orig -text
native/prboom/POSIX/Makefile -text
native/prboom/POSIX/Makefile.am -text
native/prboom/POSIX/Makefile.in -text
native/prboom/POSIX/i_system.c -text
native/prboom/SDL/Makefile -text
native/prboom/SDL/Makefile.am -text
native/prboom/SDL/Makefile.in -text
native/prboom/SDL/SDL_win32_main.c -text
native/prboom/SDL/i_joy.c -text
native/prboom/SDL/i_main.c -text
native/prboom/SDL/i_network.c -text
native/prboom/SDL/i_sound.c -text
native/prboom/SDL/i_sshot.c -text
native/prboom/SDL/i_system.c -text
native/prboom/SDL/i_video.c -text
native/prboom/am_map.c -text
native/prboom/am_map.h -text
native/prboom/autom4te.cache/output.0 -text
native/prboom/autom4te.cache/requests -text
native/prboom/autom4te.cache/traces.0 -text
native/prboom/config.h -text
native/prboom/config.h.in -text
native/prboom/config.log -text
native/prboom/configure -text
native/prboom/configure.ac -text
native/prboom/d_client.c -text
native/prboom/d_deh.c -text
native/prboom/d_deh.h -text
native/prboom/d_englsh.h -text
native/prboom/d_event.h -text
native/prboom/d_items.c -text
native/prboom/d_items.h -text
native/prboom/d_main.c -text
native/prboom/d_main.h -text
native/prboom/d_net.h -text
native/prboom/d_player.h -text
native/prboom/d_server.c -text
native/prboom/d_think.h -text
native/prboom/d_ticcmd.h -text
native/prboom/doomdata.h -text
native/prboom/doomdef.c -text
native/prboom/doomdef.h -text
native/prboom/doomstat.c -text
native/prboom/doomstat.h -text
native/prboom/doomtype.h -text
native/prboom/dstrings.c -text
native/prboom/dstrings.h -text
native/prboom/f_finale.c -text
native/prboom/f_finale.h -text
native/prboom/f_wipe.c -text
native/prboom/f_wipe.h -text
native/prboom/g_game.c -text
native/prboom/g_game.h -text
native/prboom/gl_intern.h -text
native/prboom/gl_main.c -text
native/prboom/gl_struct.h -text
native/prboom/gl_texture.c -text
native/prboom/hu_lib.c -text
native/prboom/hu_lib.h -text
native/prboom/hu_stuff.c -text
native/prboom/hu_stuff.h -text
native/prboom/i_joy.h -text
native/prboom/i_main.c -text
native/prboom/i_main.h -text
native/prboom/i_network.c -text
native/prboom/i_network.h -text
native/prboom/i_sound.c -text
native/prboom/i_sound.h -text
native/prboom/i_system.c -text
native/prboom/i_system.h -text
native/prboom/i_video.c -text
native/prboom/i_video.h -text
native/prboom/i_video_jni.c -text
native/prboom/include/doom_jni_Natives.h -text
native/prboom/include/doom_jni_Natives_EventListener.h -text
native/prboom/include/jni_doom.h -text
native/prboom/info.c -text
native/prboom/info.h -text
native/prboom/jni_doom.c -text
native/prboom/lprintf.c -text
native/prboom/lprintf.h -text
native/prboom/m_argv.c -text
native/prboom/m_argv.h -text
native/prboom/m_bbox.c -text
native/prboom/m_bbox.h -text
native/prboom/m_cheat.c -text
native/prboom/m_cheat.h -text
native/prboom/m_fixed.h -text
native/prboom/m_menu.c -text
native/prboom/m_menu.h -text
native/prboom/m_misc.c -text
native/prboom/m_misc.h -text
native/prboom/m_random.c -text
native/prboom/m_random.h -text
native/prboom/m_swap.h -text
native/prboom/md5.c -text
native/prboom/md5.h -text
native/prboom/mmus2mid.c -text
native/prboom/mmus2mid.h -text
native/prboom/p_ceilng.c -text
native/prboom/p_checksum.c -text
native/prboom/p_checksum.h -text
native/prboom/p_doors.c -text
native/prboom/p_enemy.c -text
native/prboom/p_enemy.h -text
native/prboom/p_floor.c -text
native/prboom/p_genlin.c -text
native/prboom/p_inter.c -text
native/prboom/p_inter.h -text
native/prboom/p_lights.c -text
native/prboom/p_map.c -text
native/prboom/p_map.h -text
native/prboom/p_maputl.c -text
native/prboom/p_maputl.h -text
native/prboom/p_mobj.c -text
native/prboom/p_mobj.h -text
native/prboom/p_plats.c -text
native/prboom/p_pspr.c -text
native/prboom/p_pspr.h -text
native/prboom/p_saveg.c -text
native/prboom/p_saveg.h -text
native/prboom/p_setup.c -text
native/prboom/p_setup.h -text
native/prboom/p_sight.c -text
native/prboom/p_spec.c -text
native/prboom/p_spec.h -text
native/prboom/p_switch.c -text
native/prboom/p_telept.c -text
native/prboom/p_tick.c -text
native/prboom/p_tick.h -text
native/prboom/p_user.c -text
native/prboom/p_user.h -text
native/prboom/prboom -text
native/prboom/prboom-game-server -text
native/prboom/protocol.h -text
native/prboom/r_bsp.c -text
native/prboom/r_bsp.h -text
native/prboom/r_data.c -text
native/prboom/r_data.h -text
native/prboom/r_defs.h -text
native/prboom/r_demo.c -text
native/prboom/r_demo.h -text
native/prboom/r_draw.c -text
native/prboom/r_draw.h -text
native/prboom/r_drawcolpipeline.inl -text
native/prboom/r_drawcolumn.inl -text
native/prboom/r_drawflush.inl -text
native/prboom/r_drawspan.inl -text
native/prboom/r_filter.c -text
native/prboom/r_filter.h -text
native/prboom/r_fps.c -text
native/prboom/r_fps.h -text
native/prboom/r_main.c -text
native/prboom/r_main.h -text
native/prboom/r_patch.c -text
native/prboom/r_patch.h -text
native/prboom/r_plane.c -text
native/prboom/r_plane.h -text
native/prboom/r_segs.c -text
native/prboom/r_segs.h -text
native/prboom/r_sky.c -text
native/prboom/r_sky.h -text
native/prboom/r_state.h -text
native/prboom/r_things.c -text
native/prboom/r_things.h -text
native/prboom/s_sound.c -text
native/prboom/s_sound.h -text
native/prboom/sounds.c -text
native/prboom/sounds.h -text
native/prboom/st_lib.c -text
native/prboom/st_lib.h -text
native/prboom/st_stuff.c -text
native/prboom/st_stuff.h -text
native/prboom/tables.c -text
native/prboom/tables.h -text
native/prboom/tic -text
native/prboom/v_video.c -text
native/prboom/v_video.h -text
native/prboom/version.c -text
native/prboom/version.h -text
native/prboom/w_memcache.c -text
native/prboom/w_mmap.c -text
native/prboom/w_wad.c -text
native/prboom/w_wad.h -text
native/prboom/wi_stuff.c -text
native/prboom/wi_stuff.h -text
native/prboom/z_bmalloc.c -text
native/prboom/z_bmalloc.h -text
native/prboom/z_zone.c -text
native/prboom/z_zone.h -text
prboom4android/.classpath -text svneol=unset#text/plain
prboom4android/.cproject -text svneol=unset#text/plain
prboom4android/.project -text svneol=unset#text/plain
prboom4android/AndroidManifest.xml -text svneol=unset#text/plain
prboom4android/Application.mk -text
prboom4android/assets/fonts/DooM.ttf -text
prboom4android/assets/prboom.zip -text
prboom4android/changelog.txt -text svneol=unset#text/plain
prboom4android/default.properties -text svneol=unset#text/plain
prboom4android/jni/Android.mk -text
prboom4android/jni/SDL_net/Android.mk -text
prboom4android/jni/SDL_net/CHANGES -text
prboom4android/jni/SDL_net/COPYING -text
prboom4android/jni/SDL_net/README -text
prboom4android/jni/SDL_net/SDLnet.c -text svneol=unset#text/plain
prboom4android/jni/SDL_net/SDLnetTCP.c -text svneol=unset#text/plain
prboom4android/jni/SDL_net/SDLnetUDP.c -text svneol=unset#text/plain
prboom4android/jni/SDL_net/SDLnetselect.c -text svneol=unset#text/plain
prboom4android/jni/SDL_net/SDLnetsys.h -text svneol=unset#text/plain
prboom4android/jni/SDL_net/include/SDL_net.h -text svneol=unset#text/plain
prboom4android/jni/prboom -text
prboom4android/keys -text
prboom4android/libs/armeabi/gdb.setup -text
prboom4android/libs/armeabi/gdbserver -text
prboom4android/libs/armeabi/libprboom_jni.so -text
prboom4android/res/drawable-hdpi/custom_button.xml -text svneol=unset#text/plain
prboom4android/res/drawable-hdpi/custom_checkbox.xml -text svneol=unset#text/plain
prboom4android/res/drawable-hdpi/custom_spinner.xml -text svneol=unset#text/plain
prboom4android/res/drawable-hdpi/doom.jpg -text
prboom4android/res/drawable-hdpi/doom_button.9.png -text
prboom4android/res/drawable-hdpi/doom_button_disabled.9.png -text
prboom4android/res/drawable-hdpi/doom_button_selected.9.png -text
prboom4android/res/drawable-hdpi/doom_checked.png -text
prboom4android/res/drawable-hdpi/doom_checked_disabled.png -text
prboom4android/res/drawable-hdpi/doom_spinner.9.png -text
prboom4android/res/drawable-hdpi/doom_spinner_disabled.9.png -text
prboom4android/res/drawable-hdpi/doom_spinner_selected.9.png -text
prboom4android/res/drawable-hdpi/doom_unchecked.png -text
prboom4android/res/drawable-hdpi/doom_unchecked_disabled.png -text
prboom4android/res/drawable-hdpi/dpadindicator_center.png -text
prboom4android/res/drawable-hdpi/dpadindicator_down.png -text
prboom4android/res/drawable-hdpi/dpadindicator_downleft.png -text
prboom4android/res/drawable-hdpi/dpadindicator_downright.png -text
prboom4android/res/drawable-hdpi/dpadindicator_left.png -text
prboom4android/res/drawable-hdpi/dpadindicator_off.png -text
prboom4android/res/drawable-hdpi/dpadindicator_right.png -text
prboom4android/res/drawable-hdpi/dpadindicator_up.png -text
prboom4android/res/drawable-hdpi/dpadindicator_upleft.png -text
prboom4android/res/drawable-hdpi/dpadindicator_upright.png -text
prboom4android/res/drawable-hdpi/icon.png -text
prboom4android/res/drawable-hdpi/jump.png -text
prboom4android/res/drawable-hdpi/map.png -text
prboom4android/res/drawable-hdpi/no.png -text
prboom4android/res/drawable-hdpi/open.png -text
prboom4android/res/drawable-hdpi/vstick.png -text
prboom4android/res/drawable-hdpi/vstick_lr.png -text
prboom4android/res/drawable-hdpi/weapon_1.png -text
prboom4android/res/drawable-hdpi/weapon_2.png -text
prboom4android/res/drawable-hdpi/weapon_3.png -text
prboom4android/res/drawable-hdpi/weapon_4.png -text
prboom4android/res/drawable-hdpi/weapon_5.png -text
prboom4android/res/drawable-hdpi/weapon_6.png -text
prboom4android/res/drawable-hdpi/weapon_7.png -text
prboom4android/res/drawable-hdpi/weapon_8.png -text
prboom4android/res/drawable-hdpi/weapon_9.png -text
prboom4android/res/drawable-hdpi/yes.png -text
prboom4android/res/drawable-ldpi/icon.png -text
prboom4android/res/drawable-mdpi/icon.png -text
prboom4android/res/layout/download.xml -text svneol=unset#text/plain
prboom4android/res/layout/main_screen.xml -text svneol=unset#text/plain
prboom4android/res/layout/options.xml -text svneol=unset#text/plain
prboom4android/res/raw/d1intro.ogg -text
prboom4android/res/values/arrays.xml -text svneol=unset#text/plain
prboom4android/res/values/strings.xml -text svneol=unset#text/plain
prboom4android/res/values/styles.xml -text svneol=unset#text/plain
prboom4android/res/values/themes.xml -text svneol=unset#text/plain
prboom4android/screenshots/doomII_in_game.png -text
prboom4android/screenshots/doomII_in_game2.png -text
prboom4android/screenshots/doomII_in_game3.png -text
prboom4android/screenshots/doomII_in_game4.png -text
prboom4android/screenshots/doomII_title_screen.png -text
prboom4android/screenshots/doomI_title_screen.png -text
prboom4android/screenshots/prboom_download_wad.png -text
prboom4android/screenshots/prboom_downloading_sounds.png -text
prboom4android/screenshots/prboom_downloading_wad.png -text
prboom4android/screenshots/prboom_main_screen.png -text
prboom4android/screenshots/prboom_wad_selection.png -text
prboom4android/src/android/game/prboom/PrBoomActivity.java -text svneol=unset#text/plain
prboom4android/src/android/game/prboom/VirtualDPad.java -text svneol=unset#text/plain
prboom4android/src/doom/audio/AudioClip.java -text svneol=unset#text/plain
prboom4android/src/doom/audio/AudioManager.java -text svneol=unset#text/plain
prboom4android/src/doom/util/DialogTool.java -text svneol=unset#text/plain
prboom4android/src/doom/util/DoomTools.java -text svneol=unset#text/plain
prboom4android/src/doom/util/GameFileDownloader.java -text svneol=unset#text/plain
prboom4android/src/doom/util/Natives.java -text svneol=unset#text/plain
prboom4android/src/doom/util/WebDownload.java -text svneol=unset#text/plain
res/drawable-hdpi/doom.jpg -text
res/drawable-hdpi/dpadindicator_center.png -text
res/drawable-hdpi/dpadindicator_down.png -text
res/drawable-hdpi/dpadindicator_downleft.png -text
res/drawable-hdpi/dpadindicator_downright.png -text
res/drawable-hdpi/dpadindicator_left.png -text
res/drawable-hdpi/dpadindicator_off.png -text
res/drawable-hdpi/dpadindicator_right.png -text
res/drawable-hdpi/dpadindicator_up.png -text
res/drawable-hdpi/dpadindicator_upleft.png -text
res/drawable-hdpi/dpadindicator_upright.png -text
res/drawable-hdpi/icon.png -text
res/drawable-hdpi/jump.png -text
res/drawable-hdpi/map.png -text
res/drawable-hdpi/no.png -text
res/drawable-hdpi/open.png -text
res/drawable-hdpi/vstick.png -text
res/drawable-hdpi/vstick_lr.png -text
res/drawable-hdpi/weapon_1.png -text
res/drawable-hdpi/weapon_2.png -text
res/drawable-hdpi/weapon_3.png -text
res/drawable-hdpi/weapon_4.png -text
res/drawable-hdpi/weapon_5.png -text
res/drawable-hdpi/weapon_6.png -text
res/drawable-hdpi/weapon_7.png -text
res/drawable-hdpi/weapon_8.png -text
res/drawable-hdpi/weapon_9.png -text
res/drawable-hdpi/yes.png -text
res/drawable-ldpi/icon.png -text
res/drawable-mdpi/icon.png -text
res/layout/download.xml -text
res/layout/main_screen.xml -text
res/layout/options.xml -text
res/raw/d1intro.ogg -text
res/values/arrays.xml -text
res/values/strings.xml -text
screenshots/doomII_in_game.png -text
screenshots/doomII_in_game2.png -text
screenshots/doomII_title_screen.png -text
screenshots/prboom_main_screen.png -text
src/android/game/prboom/PrBoomActivity.java -text
src/android/game/prboom/VirtualDPad.java -text
src/doom/audio/AudioClip.java -text
src/doom/audio/AudioManager.java -text
src/doom/util/DialogTool.java -text
src/doom/util/DoomTools.java -text
src/doom/util/GameFileDownloader.java -text
src/doom/util/LibraryLoader.java -text
src/doom/util/Natives.java -text
src/doom/util/WebDownload.java -text
