* text=auto !eol
/.classpath -text
/.project -text
/AndroidManifest.xml -text
assets/libdoom_jni.so.zip -text
assets/prboom.zip -text
/default.properties -text
native/prboom.zip -text
native/prboom/Makefile -text
native/prboom/Makefile.am -text
native/prboom/Makefile.in -text
native/prboom/Makefile.orig -text
native/prboom/POSIX/Makefile -text
native/prboom/POSIX/Makefile.am -text
native/prboom/POSIX/Makefile.in -text
native/prboom/POSIX/i_system.c -text
native/prboom/SDL/Makefile -text
native/prboom/SDL/Makefile.am -text
native/prboom/SDL/Makefile.in -text
native/prboom/SDL/SDL_win32_main.c -text
native/prboom/SDL/i_joy.c -text
native/prboom/SDL/i_main.c -text
native/prboom/SDL/i_network.c -text
native/prboom/SDL/i_sound.c -text
native/prboom/SDL/i_sshot.c -text
native/prboom/SDL/i_system.c -text
native/prboom/SDL/i_video.c -text
native/prboom/am_map.c -text
native/prboom/am_map.h -text
native/prboom/autom4te.cache/output.0 -text
native/prboom/autom4te.cache/requests -text
native/prboom/autom4te.cache/traces.0 -text
native/prboom/config.h -text
native/prboom/config.h.in -text
native/prboom/config.log -text
native/prboom/configure -text
native/prboom/configure.ac -text
native/prboom/d_client.c -text
native/prboom/d_deh.c -text
native/prboom/d_deh.h -text
native/prboom/d_englsh.h -text
native/prboom/d_event.h -text
native/prboom/d_items.c -text
native/prboom/d_items.h -text
native/prboom/d_main.c -text
native/prboom/d_main.h -text
native/prboom/d_net.h -text
native/prboom/d_player.h -text
native/prboom/d_server.c -text
native/prboom/d_think.h -text
native/prboom/d_ticcmd.h -text
native/prboom/doomdata.h -text
native/prboom/doomdef.c -text
native/prboom/doomdef.h -text
native/prboom/doomstat.c -text
native/prboom/doomstat.h -text
native/prboom/doomtype.h -text
native/prboom/dstrings.c -text
native/prboom/dstrings.h -text
native/prboom/f_finale.c -text
native/prboom/f_finale.h -text
native/prboom/f_wipe.c -text
native/prboom/f_wipe.h -text
native/prboom/g_game.c -text
native/prboom/g_game.h -text
native/prboom/gl_intern.h -text
native/prboom/gl_main.c -text
native/prboom/gl_struct.h -text
native/prboom/gl_texture.c -text
native/prboom/hu_lib.c -text
native/prboom/hu_lib.h -text
native/prboom/hu_stuff.c -text
native/prboom/hu_stuff.h -text
native/prboom/i_joy.h -text
native/prboom/i_main.c -text
native/prboom/i_main.h -text
native/prboom/i_network.c -text
native/prboom/i_network.h -text
native/prboom/i_sound.c -text
native/prboom/i_sound.h -text
native/prboom/i_system.c -text
native/prboom/i_system.h -text
native/prboom/i_video.c -text
native/prboom/i_video.h -text
native/prboom/i_video_jni.c -text
native/prboom/include/doom_jni_Natives.h -text
native/prboom/include/doom_jni_Natives_EventListener.h -text
native/prboom/include/jni_doom.h -text
native/prboom/info.c -text
native/prboom/info.h -text
native/prboom/jni_doom.c -text
native/prboom/lprintf.c -text
native/prboom/lprintf.h -text
native/prboom/m_argv.c -text
native/prboom/m_argv.h -text
native/prboom/m_bbox.c -text
native/prboom/m_bbox.h -text
native/prboom/m_cheat.c -text
native/prboom/m_cheat.h -text
native/prboom/m_fixed.h -text
native/prboom/m_menu.c -text
native/prboom/m_menu.h -text
native/prboom/m_misc.c -text
native/prboom/m_misc.h -text
native/prboom/m_random.c -text
native/prboom/m_random.h -text
native/prboom/m_swap.h -text
native/prboom/md5.c -text
native/prboom/md5.h -text
native/prboom/mmus2mid.c -text
native/prboom/mmus2mid.h -text
native/prboom/p_ceilng.c -text
native/prboom/p_checksum.c -text
native/prboom/p_checksum.h -text
native/prboom/p_doors.c -text
native/prboom/p_enemy.c -text
native/prboom/p_enemy.h -text
native/prboom/p_floor.c -text
native/prboom/p_genlin.c -text
native/prboom/p_inter.c -text
native/prboom/p_inter.h -text
native/prboom/p_lights.c -text
native/prboom/p_map.c -text
native/prboom/p_map.h -text
native/prboom/p_maputl.c -text
native/prboom/p_maputl.h -text
native/prboom/p_mobj.c -text
native/prboom/p_mobj.h -text
native/prboom/p_plats.c -text
native/prboom/p_pspr.c -text
native/prboom/p_pspr.h -text
native/prboom/p_saveg.c -text
native/prboom/p_saveg.h -text
native/prboom/p_setup.c -text
native/prboom/p_setup.h -text
native/prboom/p_sight.c -text
native/prboom/p_spec.c -text
native/prboom/p_spec.h -text
native/prboom/p_switch.c -text
native/prboom/p_telept.c -text
native/prboom/p_tick.c -text
native/prboom/p_tick.h -text
native/prboom/p_user.c -text
native/prboom/p_user.h -text
native/prboom/prboom -text
native/prboom/prboom-game-server -text
native/prboom/protocol.h -text
native/prboom/r_bsp.c -text
native/prboom/r_bsp.h -text
native/prboom/r_data.c -text
native/prboom/r_data.h -text
native/prboom/r_defs.h -text
native/prboom/r_demo.c -text
native/prboom/r_demo.h -text
native/prboom/r_draw.c -text
native/prboom/r_draw.h -text
native/prboom/r_drawcolpipeline.inl -text
native/prboom/r_drawcolumn.inl -text
native/prboom/r_drawflush.inl -text
native/prboom/r_drawspan.inl -text
native/prboom/r_filter.c -text
native/prboom/r_filter.h -text
native/prboom/r_fps.c -text
native/prboom/r_fps.h -text
native/prboom/r_main.c -text
native/prboom/r_main.h -text
native/prboom/r_patch.c -text
native/prboom/r_patch.h -text
native/prboom/r_plane.c -text
native/prboom/r_plane.h -text
native/prboom/r_segs.c -text
native/prboom/r_segs.h -text
native/prboom/r_sky.c -text
native/prboom/r_sky.h -text
native/prboom/r_state.h -text
native/prboom/r_things.c -text
native/prboom/r_things.h -text
native/prboom/s_sound.c -text
native/prboom/s_sound.h -text
native/prboom/sounds.c -text
native/prboom/sounds.h -text
native/prboom/st_lib.c -text
native/prboom/st_lib.h -text
native/prboom/st_stuff.c -text
native/prboom/st_stuff.h -text
native/prboom/tables.c -text
native/prboom/tables.h -text
native/prboom/tic -text
native/prboom/v_video.c -text
native/prboom/v_video.h -text
native/prboom/version.c -text
native/prboom/version.h -text
native/prboom/w_memcache.c -text
native/prboom/w_mmap.c -text
native/prboom/w_wad.c -text
native/prboom/w_wad.h -text
native/prboom/wi_stuff.c -text
native/prboom/wi_stuff.h -text
native/prboom/z_bmalloc.c -text
native/prboom/z_bmalloc.h -text
native/prboom/z_zone.c -text
native/prboom/z_zone.h -text
prboom4android/.classpath -text svneol=unset#text/plain
prboom4android/.project -text svneol=unset#text/plain
prboom4android/AndroidManifest.xml -text svneol=unset#text/plain
prboom4android/Application.mk -text
prboom4android/assets/fonts/DooM.ttf -text
prboom4android/assets/prboom.zip -text
prboom4android/changelog.txt -text svneol=unset#text/plain
prboom4android/default.properties -text svneol=unset#text/plain
prboom4android/jni/Android.mk -text
prboom4android/jni/Makefile -text
prboom4android/jni/Makefile.am -text
prboom4android/jni/Makefile.in -text
prboom4android/jni/Makefile.orig -text
prboom4android/jni/am_map.c -text
prboom4android/jni/am_map.h -text
prboom4android/jni/am_map.o -text
prboom4android/jni/config.h -text
prboom4android/jni/config.h.in -text
prboom4android/jni/config.log -text
prboom4android/jni/configure -text
prboom4android/jni/configure.ac -text
prboom4android/jni/d_client.c -text
prboom4android/jni/d_client.o -text
prboom4android/jni/d_deh.c -text
prboom4android/jni/d_deh.h -text
prboom4android/jni/d_deh.o -text
prboom4android/jni/d_englsh.h -text
prboom4android/jni/d_event.h -text
prboom4android/jni/d_items.c -text
prboom4android/jni/d_items.h -text
prboom4android/jni/d_items.o -text
prboom4android/jni/d_main.c -text
prboom4android/jni/d_main.h -text
prboom4android/jni/d_main.o -text
prboom4android/jni/d_net.h -text
prboom4android/jni/d_player.h -text
prboom4android/jni/d_server.c -text
prboom4android/jni/d_server.o -text
prboom4android/jni/d_think.h -text
prboom4android/jni/d_ticcmd.h -text
prboom4android/jni/doomdata.h -text
prboom4android/jni/doomdef.c -text
prboom4android/jni/doomdef.h -text
prboom4android/jni/doomdef.o -text
prboom4android/jni/doomstat.c -text
prboom4android/jni/doomstat.h -text
prboom4android/jni/doomstat.o -text
prboom4android/jni/doomtype.h -text
prboom4android/jni/dstrings.c -text
prboom4android/jni/dstrings.h -text
prboom4android/jni/dstrings.o -text
prboom4android/jni/f_finale.c -text
prboom4android/jni/f_finale.h -text
prboom4android/jni/f_finale.o -text
prboom4android/jni/f_wipe.c -text
prboom4android/jni/f_wipe.h -text
prboom4android/jni/f_wipe.o -text
prboom4android/jni/g_game.c -text
prboom4android/jni/g_game.h -text
prboom4android/jni/g_game.o -text
prboom4android/jni/gl_intern.h -text
prboom4android/jni/gl_main.c -text
prboom4android/jni/gl_struct.h -text
prboom4android/jni/gl_texture.c -text
prboom4android/jni/hu_lib.c -text
prboom4android/jni/hu_lib.h -text
prboom4android/jni/hu_lib.o -text
prboom4android/jni/hu_stuff.c -text
prboom4android/jni/hu_stuff.h -text
prboom4android/jni/hu_stuff.o -text
prboom4android/jni/i_joy.h -text
prboom4android/jni/i_main.c -text
prboom4android/jni/i_main.h -text
prboom4android/jni/i_main.o -text
prboom4android/jni/i_network.c -text
prboom4android/jni/i_network.h -text
prboom4android/jni/i_network.o -text
prboom4android/jni/i_sound.c -text
prboom4android/jni/i_sound.h -text
prboom4android/jni/i_sound.o -text
prboom4android/jni/i_system.c -text
prboom4android/jni/i_system.h -text
prboom4android/jni/i_system.o -text
prboom4android/jni/i_video.c -text
prboom4android/jni/i_video.h -text
prboom4android/jni/i_video.o -text
prboom4android/jni/i_video_jni.c -text
prboom4android/jni/info.c -text
prboom4android/jni/info.h -text
prboom4android/jni/info.o -text
prboom4android/jni/jni_doom.c -text
prboom4android/jni/jni_doom.o -text
prboom4android/jni/lprintf.c -text
prboom4android/jni/lprintf.h -text
prboom4android/jni/lprintf.o -text
prboom4android/jni/m_argv.c -text
prboom4android/jni/m_argv.h -text
prboom4android/jni/m_argv.o -text
prboom4android/jni/m_bbox.c -text
prboom4android/jni/m_bbox.h -text
prboom4android/jni/m_bbox.o -text
prboom4android/jni/m_cheat.c -text
prboom4android/jni/m_cheat.h -text
prboom4android/jni/m_cheat.o -text
prboom4android/jni/m_fixed.h -text
prboom4android/jni/m_menu.c -text
prboom4android/jni/m_menu.h -text
prboom4android/jni/m_menu.o -text
prboom4android/jni/m_misc.c -text
prboom4android/jni/m_misc.h -text
prboom4android/jni/m_misc.o -text
prboom4android/jni/m_random.c -text
prboom4android/jni/m_random.h -text
prboom4android/jni/m_random.o -text
prboom4android/jni/m_swap.h -text
prboom4android/jni/md5.c -text
prboom4android/jni/md5.h -text
prboom4android/jni/md5.o -text
prboom4android/jni/mmus2mid.c -text
prboom4android/jni/mmus2mid.h -text
prboom4android/jni/p_ceilng.c -text
prboom4android/jni/p_ceilng.o -text
prboom4android/jni/p_checksum.c -text
prboom4android/jni/p_checksum.h -text
prboom4android/jni/p_checksum.o -text
prboom4android/jni/p_doors.c -text
prboom4android/jni/p_doors.o -text
prboom4android/jni/p_enemy.c -text
prboom4android/jni/p_enemy.h -text
prboom4android/jni/p_enemy.o -text
prboom4android/jni/p_floor.c -text
prboom4android/jni/p_floor.o -text
prboom4android/jni/p_genlin.c -text
prboom4android/jni/p_genlin.o -text
prboom4android/jni/p_inter.c -text
prboom4android/jni/p_inter.h -text
prboom4android/jni/p_inter.o -text
prboom4android/jni/p_lights.c -text
prboom4android/jni/p_lights.o -text
prboom4android/jni/p_map.c -text
prboom4android/jni/p_map.h -text
prboom4android/jni/p_map.o -text
prboom4android/jni/p_maputl.c -text
prboom4android/jni/p_maputl.h -text
prboom4android/jni/p_maputl.o -text
prboom4android/jni/p_mobj.c -text
prboom4android/jni/p_mobj.h -text
prboom4android/jni/p_mobj.o -text
prboom4android/jni/p_plats.c -text
prboom4android/jni/p_plats.o -text
prboom4android/jni/p_pspr.c -text
prboom4android/jni/p_pspr.h -text
prboom4android/jni/p_pspr.o -text
prboom4android/jni/p_saveg.c -text
prboom4android/jni/p_saveg.h -text
prboom4android/jni/p_saveg.o -text
prboom4android/jni/p_setup.c -text
prboom4android/jni/p_setup.h -text
prboom4android/jni/p_setup.o -text
prboom4android/jni/p_sight.c -text
prboom4android/jni/p_sight.o -text
prboom4android/jni/p_spec.c -text
prboom4android/jni/p_spec.h -text
prboom4android/jni/p_spec.o -text
prboom4android/jni/p_switch.c -text
prboom4android/jni/p_switch.o -text
prboom4android/jni/p_telept.c -text
prboom4android/jni/p_telept.o -text
prboom4android/jni/p_tick.c -text
prboom4android/jni/p_tick.h -text
prboom4android/jni/p_tick.o -text
prboom4android/jni/p_user.c -text
prboom4android/jni/p_user.h -text
prboom4android/jni/p_user.o -text
prboom4android/jni/prboom -text
prboom4android/jni/prboom-game-server -text
prboom4android/jni/protocol.h -text
prboom4android/jni/r_bsp.c -text
prboom4android/jni/r_bsp.h -text
prboom4android/jni/r_bsp.o -text
prboom4android/jni/r_data.c -text
prboom4android/jni/r_data.h -text
prboom4android/jni/r_data.o -text
prboom4android/jni/r_defs.h -text
prboom4android/jni/r_demo.c -text
prboom4android/jni/r_demo.h -text
prboom4android/jni/r_demo.o -text
prboom4android/jni/r_draw.c -text
prboom4android/jni/r_draw.h -text
prboom4android/jni/r_draw.o -text
prboom4android/jni/r_drawcolpipeline.inl -text
prboom4android/jni/r_drawcolumn.inl -text
prboom4android/jni/r_drawflush.inl -text
prboom4android/jni/r_drawspan.inl -text
prboom4android/jni/r_filter.c -text
prboom4android/jni/r_filter.h -text
prboom4android/jni/r_filter.o -text
prboom4android/jni/r_fps.c -text
prboom4android/jni/r_fps.h -text
prboom4android/jni/r_fps.o -text
prboom4android/jni/r_main.c -text
prboom4android/jni/r_main.h -text
prboom4android/jni/r_main.o -text
prboom4android/jni/r_patch.c -text
prboom4android/jni/r_patch.h -text
prboom4android/jni/r_patch.o -text
prboom4android/jni/r_plane.c -text
prboom4android/jni/r_plane.h -text
prboom4android/jni/r_plane.o -text
prboom4android/jni/r_segs.c -text
prboom4android/jni/r_segs.h -text
prboom4android/jni/r_segs.o -text
prboom4android/jni/r_sky.c -text
prboom4android/jni/r_sky.h -text
prboom4android/jni/r_sky.o -text
prboom4android/jni/r_state.h -text
prboom4android/jni/r_things.c -text
prboom4android/jni/r_things.h -text
prboom4android/jni/r_things.o -text
prboom4android/jni/s_sound.c -text
prboom4android/jni/s_sound.h -text
prboom4android/jni/s_sound.o -text
prboom4android/jni/sounds.c -text
prboom4android/jni/sounds.h -text
prboom4android/jni/sounds.o -text
prboom4android/jni/st_lib.c -text
prboom4android/jni/st_lib.h -text
prboom4android/jni/st_lib.o -text
prboom4android/jni/st_stuff.c -text
prboom4android/jni/st_stuff.h -text
prboom4android/jni/st_stuff.o -text
prboom4android/jni/tables.c -text
prboom4android/jni/tables.h -text
prboom4android/jni/tables.o -text
prboom4android/jni/tic -text
prboom4android/jni/v_video.c -text
prboom4android/jni/v_video.h -text
prboom4android/jni/v_video.o -text
prboom4android/jni/version.c -text
prboom4android/jni/version.h -text
prboom4android/jni/version.o -text
prboom4android/jni/w_memcache.c -text
prboom4android/jni/w_memcache.o -text
prboom4android/jni/w_mmap.c -text
prboom4android/jni/w_mmap.o -text
prboom4android/jni/w_wad.c -text
prboom4android/jni/w_wad.h -text
prboom4android/jni/w_wad.o -text
prboom4android/jni/wi_stuff.c -text
prboom4android/jni/wi_stuff.h -text
prboom4android/jni/wi_stuff.o -text
prboom4android/jni/z_bmalloc.c -text
prboom4android/jni/z_bmalloc.h -text
prboom4android/jni/z_bmalloc.o -text
prboom4android/jni/z_zone.c -text
prboom4android/jni/z_zone.h -text
prboom4android/jni/z_zone.o -text
prboom4android/keys -text
prboom4android/libs/armeabi/libprboom_jni.so -text
prboom4android/res/drawable-hdpi/custom_button.xml -text svneol=unset#text/plain
prboom4android/res/drawable-hdpi/custom_checkbox.xml -text svneol=unset#text/plain
prboom4android/res/drawable-hdpi/custom_spinner.xml -text svneol=unset#text/plain
prboom4android/res/drawable-hdpi/doom.jpg -text
prboom4android/res/drawable-hdpi/doom_button.9.png -text
prboom4android/res/drawable-hdpi/doom_button_disabled.9.png -text
prboom4android/res/drawable-hdpi/doom_button_selected.9.png -text
prboom4android/res/drawable-hdpi/doom_checked.png -text
prboom4android/res/drawable-hdpi/doom_checked_disabled.png -text
prboom4android/res/drawable-hdpi/doom_spinner.9.png -text
prboom4android/res/drawable-hdpi/doom_spinner_disabled.9.png -text
prboom4android/res/drawable-hdpi/doom_spinner_selected.9.png -text
prboom4android/res/drawable-hdpi/doom_unchecked.png -text
prboom4android/res/drawable-hdpi/doom_unchecked_disabled.png -text
prboom4android/res/drawable-hdpi/dpadindicator_center.png -text
prboom4android/res/drawable-hdpi/dpadindicator_down.png -text
prboom4android/res/drawable-hdpi/dpadindicator_downleft.png -text
prboom4android/res/drawable-hdpi/dpadindicator_downright.png -text
prboom4android/res/drawable-hdpi/dpadindicator_left.png -text
prboom4android/res/drawable-hdpi/dpadindicator_off.png -text
prboom4android/res/drawable-hdpi/dpadindicator_right.png -text
prboom4android/res/drawable-hdpi/dpadindicator_up.png -text
prboom4android/res/drawable-hdpi/dpadindicator_upleft.png -text
prboom4android/res/drawable-hdpi/dpadindicator_upright.png -text
prboom4android/res/drawable-hdpi/icon.png -text
prboom4android/res/drawable-hdpi/jump.png -text
prboom4android/res/drawable-hdpi/map.png -text
prboom4android/res/drawable-hdpi/no.png -text
prboom4android/res/drawable-hdpi/open.png -text
prboom4android/res/drawable-hdpi/vstick.png -text
prboom4android/res/drawable-hdpi/vstick_lr.png -text
prboom4android/res/drawable-hdpi/weapon_1.png -text
prboom4android/res/drawable-hdpi/weapon_2.png -text
prboom4android/res/drawable-hdpi/weapon_3.png -text
prboom4android/res/drawable-hdpi/weapon_4.png -text
prboom4android/res/drawable-hdpi/weapon_5.png -text
prboom4android/res/drawable-hdpi/weapon_6.png -text
prboom4android/res/drawable-hdpi/weapon_7.png -text
prboom4android/res/drawable-hdpi/weapon_8.png -text
prboom4android/res/drawable-hdpi/weapon_9.png -text
prboom4android/res/drawable-hdpi/yes.png -text
prboom4android/res/drawable-ldpi/icon.png -text
prboom4android/res/drawable-mdpi/icon.png -text
prboom4android/res/layout/download.xml -text svneol=unset#text/plain
prboom4android/res/layout/main_screen.xml -text svneol=unset#text/plain
prboom4android/res/layout/options.xml -text svneol=unset#text/plain
prboom4android/res/raw/d1intro.ogg -text
prboom4android/res/values/arrays.xml -text svneol=unset#text/plain
prboom4android/res/values/strings.xml -text svneol=unset#text/plain
prboom4android/res/values/styles.xml -text svneol=unset#text/plain
prboom4android/res/values/themes.xml -text svneol=unset#text/plain
prboom4android/screenshots/doomII_in_game.png -text
prboom4android/screenshots/doomII_in_game2.png -text
prboom4android/screenshots/doomII_in_game3.png -text
prboom4android/screenshots/doomII_in_game4.png -text
prboom4android/screenshots/doomII_title_screen.png -text
prboom4android/screenshots/doomI_title_screen.png -text
prboom4android/screenshots/prboom_download_wad.png -text
prboom4android/screenshots/prboom_downloading_sounds.png -text
prboom4android/screenshots/prboom_downloading_wad.png -text
prboom4android/screenshots/prboom_main_screen.png -text
prboom4android/screenshots/prboom_wad_selection.png -text
prboom4android/src/android/game/prboom/PrBoomActivity.java -text svneol=unset#text/plain
prboom4android/src/android/game/prboom/VirtualDPad.java -text svneol=unset#text/plain
prboom4android/src/doom/audio/AudioClip.java -text svneol=unset#text/plain
prboom4android/src/doom/audio/AudioManager.java -text svneol=unset#text/plain
prboom4android/src/doom/util/DialogTool.java -text svneol=unset#text/plain
prboom4android/src/doom/util/DoomTools.java -text svneol=unset#text/plain
prboom4android/src/doom/util/GameFileDownloader.java -text svneol=unset#text/plain
prboom4android/src/doom/util/Natives.java -text svneol=unset#text/plain
prboom4android/src/doom/util/WebDownload.java -text svneol=unset#text/plain
res/drawable-hdpi/doom.jpg -text
res/drawable-hdpi/dpadindicator_center.png -text
res/drawable-hdpi/dpadindicator_down.png -text
res/drawable-hdpi/dpadindicator_downleft.png -text
res/drawable-hdpi/dpadindicator_downright.png -text
res/drawable-hdpi/dpadindicator_left.png -text
res/drawable-hdpi/dpadindicator_off.png -text
res/drawable-hdpi/dpadindicator_right.png -text
res/drawable-hdpi/dpadindicator_up.png -text
res/drawable-hdpi/dpadindicator_upleft.png -text
res/drawable-hdpi/dpadindicator_upright.png -text
res/drawable-hdpi/icon.png -text
res/drawable-hdpi/jump.png -text
res/drawable-hdpi/map.png -text
res/drawable-hdpi/no.png -text
res/drawable-hdpi/open.png -text
res/drawable-hdpi/vstick.png -text
res/drawable-hdpi/vstick_lr.png -text
res/drawable-hdpi/weapon_1.png -text
res/drawable-hdpi/weapon_2.png -text
res/drawable-hdpi/weapon_3.png -text
res/drawable-hdpi/weapon_4.png -text
res/drawable-hdpi/weapon_5.png -text
res/drawable-hdpi/weapon_6.png -text
res/drawable-hdpi/weapon_7.png -text
res/drawable-hdpi/weapon_8.png -text
res/drawable-hdpi/weapon_9.png -text
res/drawable-hdpi/yes.png -text
res/drawable-ldpi/icon.png -text
res/drawable-mdpi/icon.png -text
res/layout/download.xml -text
res/layout/main_screen.xml -text
res/layout/options.xml -text
res/raw/d1intro.ogg -text
res/values/arrays.xml -text
res/values/strings.xml -text
screenshots/doomII_in_game.png -text
screenshots/doomII_in_game2.png -text
screenshots/doomII_title_screen.png -text
screenshots/prboom_main_screen.png -text
src/android/game/prboom/PrBoomActivity.java -text
src/android/game/prboom/VirtualDPad.java -text
src/doom/audio/AudioClip.java -text
src/doom/audio/AudioManager.java -text
src/doom/util/DialogTool.java -text
src/doom/util/DoomTools.java -text
src/doom/util/GameFileDownloader.java -text
src/doom/util/LibraryLoader.java -text
src/doom/util/Natives.java -text
src/doom/util/WebDownload.java -text
